<br>
<% if !(flash[:alert].blank?) and !(flash[:alert].nil?) and (flash[:alert].size>1)%>  
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title" style="font-family: 'Droid Arabic Kufi'; font-size: 16px">خطأ: </h3>
    </div>
    <div class="panel-body">
	<ul class="trash"  style="font-size: 14px"> 
		<% flash.each do |type, messages| %>
			<% messages.each do |msg| %>
				<% if !(msg.blank?) %><li><%= msg %></li><% end %>
			<% end %>
		<% end %>
	</ul>
    </div>
  </div>
<% end %>
