<%- model_class = Sector -%>
<div class="jumbotron">
    <h2 style="font-family: 'Droid Arabic Kufi';">القطاعات ونسبها الافتراضية</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>البرنامج</th>
      <th>النسبة الافتراضية</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= link_to sector.programme, sector_path(sector) %></td>
        <td><%= sector.percentage %></td>
        <td>
          <%= link_to edit_sector_path(sector) do %>
          <i class="fa fa-edit fa-lg"></i>
          <% end %>
          &nbsp;&nbsp;&nbsp;  
          <%= link_to sector_path(sector),
                      :class => 'trash',
                      :method => :delete, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                      <i class="fa fa-trash-o fa-lg-o fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

h           
