<hr>

<% 
   sum=0
   @budgets=Budget.where("proposal_id=?", @proposal.id)
   if @budgets.count>0
 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>عناصر المشروع</th>
      <th>نوع التكلفة</th>
      <th>التكلفة التقديرية</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
    <% sum=sum+budget.cost %>
      <tr>
        <td><%= budget.project_action %></td>
        <td><% if budget.cost_type=='I' %>مباشرة<% else %>غير مباشرة<% end %></td>
        <td><%= budget.cost %></td>
        <td>
          <% if current_user.user_type=='U' and !(@@view_only) %>
            <%= link_to proposal_budget_path(@proposal.id, budget.id),
                        :class => "trash",
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :remote => true do %> 
                        <i style="opacity: 0.4;" class="fa fa-trash-o fa-lg"></i> 
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          
        </td>
        <td style="text-align: left;">
          المجموع: 
        </td>   
        <td>
          $<%= sum %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr>