<div class="row">
    <div class="col-md-4">
    </div>    
    <div class="col-md-5">
    <br>
    <div class="panel panel-success" style="text-align: center;background-color: white;box-shadow: 15px 15px 15px #888888;border:1px; border-radius:17px;" >
    <%= form_for(resource, as: resource_name, class: "form-horizontal", role: "form", url: session_path(resource_name)) do |f| %>    
            <div class="panel panel-success" style="text-align: center;background-color: white;box-shadow: 15px 15px 15px #888888;border:1px; border-radius:17px;" >
      <div class="panel-heading">
       <h4 class="form-signin-heading" style="font-family: 'Droid Arabic Kufi'; font-size: 18px"> شاشة الدخول&nbsp;&nbsp;<span><i class="fa fa-user"></i></span></h4>
      </div>
      <div class="panel-body" style="dir:ltr; font-family: 'Droid Arabic Kufi'; font-size: 14px;">

                <div style="text-align: center;font-family: 'Droid Arabic Kufi'; font-size: 15px" >
                    البريد الإلكتروني
                </div>
                <div class="input-group">

                    <%= f.email_field :email, autocomplete: false, autofocus: true, placeholder: "Enter Email address", class: "form-control  input-lg", value: "", style: "font-family: Courier New; dir: ltr; text-align: left; background-color: #ecf2f4;" %>
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    
                </div>
                <br/>
                <div style="text-align: center;font-family: 'Droid Arabic Kufi'; font-size: 15px" >
                    كلمة المرور
                </div>
                <div class="input-group">
                    <%= f.password_field :password, placeholder: "Enter Password", class: "form-control  input-lg", value: "", style: "font-family: Courier New; dir: ltr; text-align: left; background-color: #ecf2f4;" %>  
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                </div>
                <br>
                <div class="col-md-offset-1 col-md-10">
                    <%= f.submit "تسجيل دخول", :class => "btn btn-lg btn-primary btn-block", style: "font-family: 'Droid Arabic Kufi'; font-size: 15px" %>
                    <br/>
                </div>
            </div>
    <% end %>  
    </div> 
    </div> 
    </div>
    <div class="col-md-4">
    </div>  
</div> 


