<div id="assessment_marks_div">
  <% 
    mark_sum=0
    proposal_id=@@proposal_id
    current_user_id=current_user.id
    unless proposal_id.blank?
    assessment_id=Assessment.where("proposal_id=? and criterion_id=19 and user_id=?",proposal_id, current_user_id).first.id 
    mark_sum1=Assessment.where("proposal_id=? and user_id=?",proposal_id, current_user_id).sum(:mark) 
    end
    mark_sum2=AssessmentCriterionDetail.where("assessment_criterion_details.assessment_id=(select b.id from assessments b where b.proposal_id=? and b.criterion_id=19 and b.user_id=?)",proposal_id, current_user_id).sum(:mark)
    mark_sum2=10 unless mark_sum2<10
    mark_sum=(mark_sum1+mark_sum2).round(2)
  
  %>
      <p>
        <%= h(mark_sum) %> 
      </p>  
</div>
    