<div class="container-fluid main-container" style="position: relative;">

<div class="jumbotron">
    <h2><span class="fa fa-pie-chart"></span> تقارير وإحصائيات</h2>
</div>

<a href="reports/statistics">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 div-rep-frame" style="margin: 5px;">
              <div class="row">
	<div >
		<div class="col-md-12">
		    <div class="brand-logo-wrapper">
		      <br>
		      <i class="fa fa-bar-chart-o fa-4x" style="color: #880000;"></i>
		    </div>

		    <p class="brand-title">
		      إحصائيات عامة
		    </p>
		</div>
	</div>
	</div>
	</div>
</a>

<a href="reports/assessments_mark_order">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 div-rep-frame" style="margin: 5px;"> 
              <div class="row">
	<div >
		<div class="col-md-12">
		    <div class="brand-logo-wrapper" style="color: #CC6600;">
		      <br>
		      <i class="fa fa-sort-numeric-desc fa-2x"></i>
			  <i class="fa fa-list-alt fa-4x"></i>
		    </div>

		    <p class="brand-title">
		      ترتيب المقترحات حسب علامة التقييم
		    </p>
		</div>
	</div>
	</div>
	</div>
</a>

<a href="reports/assessments_province_order">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 div-rep-frame" style="margin: 5px;">
              <div class="row">
	<div >
		<div class="col-md-12">
		    <div class="brand-logo-wrapper" style="color: #336600;">
		      <br>
		      <i class="fa fa-sort-numeric-desc fa-2x"></i>
			  <i class="fa fa-building-o fa-4x"></i>
		    </div>

		    <p class="brand-title">
		      ترتيب المقترحات حسب المحافظات
		    </p>
		</div>
	</div>
	</div>
	</div>
</a>